/* Universal Styles */

body{
  margin:0px;
  font-family: helvetica;
  color:seashell;
  background-color: black;
  opacity:0.9;
  font-size: 22px;
  text-align: center;
}

a {
  color: seashell;
}

.flex-box{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Header Styles */

header {
  height:69px;
  border-bottom: 1px solid seashell;
  width: 100%;
  position: fixed;
  z-index:1;
  display: flex;
  align-items: center;
  background-color: black;
}

header .logo {
  margin-left: 10px;
  height: 50px;
}

nav {
  text-align: right;
  flex-grow: 1;
}

nav span{
  padding: 20px 10px;
  display:inline-block;
}


/* Content Styles */

.content {
    padding-top: 69px;
    margin: auto;
    width:1200px;
}

#mission{
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
}

#banner{
  background-color: black;
  width: 1200px;
  margin:auto;
}

#featured {
  width:1000px;
  margin: auto;
  padding-top: 50px;
}



.tea {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
}

.tea img {
  height:200px;
  width:300px;
}

.tea span {
  padding-top: 10px;
  font-weight: bold;
}

#locations {
  background-image: url("../images/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  padding-top: 50px;
  margin-top: 50px;
}

#addresses{
  justify-content: space-around;
}

.address {
  width: 300px;
  height:auto;
  background-color: black;
}

#contact {
  height: 200px;
}

/* Footer Styles */

footer {
  text-align: left;
  padding-left: 20px;
}
